*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
body{
  line-height: 24px;
  font-family: Poppins,sans-serif;
}
a{
  font-family:Poppins,sans-serif;
  font-weight: 500;
}
button{
  font-family:Poppins,sans-serif;
  font-size: 15px;
  font-weight: 500;
}
